body {
  margin: 0;
  background: rgb(32, 31, 31);
  font-family: 'Palette Mosaic', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.newfont {
  font-family: 'Georama', sans-serif;
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro,  Consolas, 'Patrick Hand',
    monospace;
}
